//Colors
$white: #f8f9fa;
$gray-low: #e9ecef;
$gray: #adb5bd;
$black: #1f2421;

$backgroundColor: #ebfcff;
$mainColor-strong: #1e62af;
$mainColor-low: #93c5fd;
$secondaryColor: #bfddfe;
$secondaryColor-strong: #2582eb;
$colorPrimariBtn:#60a9fa;
$colorSecondaryBtn: #173454;
//Fonts
$title: "Segoe UI", serif;
$text: "Segoe UI", serif;
$special: "Handlee", cursive;

//Media querys
$phone: 468px;
$tablet: 768px;
$tablet-desktop:900px;
$desktop: 1080px;
$desktop-max: 1200px;

$separacion: 4rem;