<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar">
            <a href="/inicio" class="back-arrow">&lsaquo;</a>
            <h1 class="mx-auto">Quiénes Somos</h1>
        </div>
        <p>En **DevSharks**, somos un equipo de desarrolladores apasionados por la tecnología y la innovación. Hemos creado **Fin It**, una aplicación web diseñada para ayudarte a **registrar y gestionar tus hábitos** de manera sencilla y eficiente, con el objetivo de mejorar tu bienestar físico, mental y emocional.</p>
        <p>Como equipo de **DevSharks**, creemos en el poder de los hábitos saludables y cómo estos pueden transformar vidas. Nuestra misión es proporcionar una herramienta accesible y fácil de usar que permita a los usuarios llevar un seguimiento de sus rutinas diarias, establecer metas personales y alcanzar sus objetivos de bienestar.</p>
        <p>Además, valoramos tu privacidad y nos comprometemos a proteger tu información personal. Nunca compartimos tus datos sin tu consentimiento, y siempre trabajamos para ofrecerte la mejor experiencia posible mientras usas nuestra aplicación.</p>
        
        <p>Gracias por elegirnos y confiar en nosotros para acompañarte en tu camino hacia una vida más saludable y equilibrada.</p>
        
        <div class="container-md botones-eliminar">
            <button type="button" class="btn-secondary" onclick="window.history.back()">Continuar</button>
        </div>
    </div>
</body>
</html>
