@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    text-align: center;
}

main {
    color: v.$black;
    // background-color: v.$secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 500;
    }
}

.login-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}

.login-card {
    position: relative;
    z-index: 2;
    background-color: v.$white;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 90%;
    max-width: 280px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: xx-large;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
        color: v.$mainColor-low;
    }
}

.container {
    max-width: 350px;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
}

.form-control {
    // background-color:v.$w;
    border-radius: 0.5rem;
    padding: 0.75rem;
    border: 1px solid v.$secondaryColor;
    color: v.$black;

    &:focus {
        background-color: v.$backgroundColor !important;
        border-color: v.$secondaryColor;
        box-shadow: none;
        outline: none;
        // color: v.$mainColor-low;
    }
}

a {
    font-style:italic;
    text-decoration: underline;
    color: v.$black;
    font-size: small;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        color: v.$mainColor-strong;
    }
}

.text-end {
    text-align: center !important;
}

.position-relative {
    position: relative;
}


.shark-random {
    position: absolute;
    width: 80px;
    z-index: -1;
    /* Asegura que el tiburón esté debajo de los elementos del formulario */
    transition: top 2s linear, left 2s linear, transform 0.5s ease-in-out;
}